.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(172, 203, 209);
  display: flex;
 
  justify-content: center;
  align-items: center;
  padding: 15%;
}
.container{
  color:rgb(21, 57, 45);
  border: 2px solid rgb(21, 57, 45);
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  width:500px;
  padding-left: 30px;
}
.head{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
input{
  width: 90%;
  padding: 8px;
  background-color: rgb(199, 229, 246);
  border: none;
  margin-bottom: 20px;
  border: 2px solid whitesmoke;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}
input:hover{
  border: 2px solid rgb(21, 57, 45);
}